@import "../../../styles/colors";

.button {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: $dark-gray;
  color: $white;
  font-weight: normal;
  text-align: center;
  width: 150px;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
    cursor: pointer;
    background-color: $button-hover;
  }
}

