.welcome-screen {
  display: block;
  height: 100%;

  ul {
    padding: 5%;
    margin: 0 auto;

    li {
      margin-bottom: 10px;
    }
  }

  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}