@import "styles/colors";
@import "styles/mixins";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  position: relative;
  background-color: $light-gray;
}

#root {
  height: 100%;
  width: 100%;
}

strong {
  font-weight: bold;
}

a {
  color: $blue;
  text-decoration: none;
  transition: all 0.5s;

  &:visited {
    color: $blue;
    text-decoration: none;
  }

  &:hover {
    transition: all 0.5s;
    color: $white;
  }
}


button {
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  min-width: 64px;
}