@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/media-queries";

.progress-container {
  height: 10px;
  width: 80%;
  @include boxShadow();
  border-radius: 10px;
  margin: 30px auto;
  background-color: $light-gray;

  .progress-bar {
    transition: .5s;
    background: $gradient-blue;
    color: $gray;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    height: 100%;

    &__step {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}